@import "style/variables.scss";

.container {
  padding-top: 5vh;
  margin: auto;
}

.rbc-calendar {
  height: 100vh !important;
}
.rbc-event {
  background-color: $color-orange !important;
  text-align: center !important;
  margin-bottom: 3px !important;
}
